@use "../../Globals/variables" as variables;

@use "Subcomponetes/ProductsForm";

.main {
  border: solid 3px red;
  font-family: variables.$font-family-Title;
  position: relative;
  margin-top: 5.1rem;
  padding: 1.5rem 0;

  .container {
    height: 100%;
    width: 100%;

    .section-title {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;

      h1 {
        font-family: variables.$font-family-Title;
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(99, 179, 237, 0.6);
        background: linear-gradient(45deg, #005ea0 15%, #63b3ed 30%); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
      }
    }

    .main-content {
      position: relative;
      height: fit-content;
      width: 100%;
    }
  }
}
