
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


$font-family-Topbar: "DM Sans", serif;
$font-style-Topbar: normal;
$font-weight-Topbar: 400;


$font-family-Menubar: "Oswald", serif;
$font-style-Menubar: normal;
$font-weight-Menubar: 400;


$font-family-Home: "Archivo Black", serif;
$font-style-Home: normal;
$font-weight-Home: 400;

$font-family-Title: "Poppins", serif;
